@page "/"

<h1>Welcome to Grooviee!:))</h1>

<h5>Why choose Grooviee</h5>

<ol>
    <li>Upfront pricing</li>
    <li>Stay on top of your rides</li>
    <li>Cashless convenience</li>
</ol>


<SurveyPrompt Title="How is Blazor working for you?" />
